
/* 1º SEÇÃO */
.secao {
    font-family: Tahoma;
    text-align: center;
    margin: 0 auto;
    background-color: #afddfb;
    padding-bottom: 30px;
    padding-left: 30px;
}
.imagem-logo {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
a {
    margin: 0px 10px;
    font-weight: none;
    text-decoration: none;
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
}
/* IMAGEM BANNER */
.imagem-banner {
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* 2º seção */
.secao-p {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    font-family: Tahoma;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1 {
    margin-bottom: 5px;
    color: #1d1d1d;
}
h2, .texto-azul {
    text-align: center;
    color: #1c81c0;
}
.texto-azul {
    font-size: 18px;
}
img {
    width: 450px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img-meio, p, .imagem-corretor {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p {
    width: 980px;
    font-size: 18px;
    text-align: justify;
}
/* 3º seção */
.secao-servicos {
    font-family: Tahoma;
    text-align: center;
    margin: 0 auto;
    background-color: #1d80c1;
    padding-bottom: 30px;
    padding-left: 30px;
}
.secao-servicos h3 {
    color: white;
}
h3 {
    font-size: 28px;
    line-height: 42px;
    padding-top: 30px;
}
.secao-servicos p {
    color: #fff;
    line-height: 42px;
    font-size: 22px;
}
.texto-amarelo {
    font-weight: bold;
    color: #fff81b;
}
ul {
    margin: 40px auto;
    width: 135px;
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}
/* 4ª seção */
.secao-co {
    font-family: Tahoma;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-left: 30px;
}
.secao-co h3 {
    color: #1c81c0;
}
.secao-co a {
    color: #1c81c0;
    border: none;
    text-decoration: underline;
}
/* 5º seção */
.secao-ult {
    font-family: Tahoma;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: #1d80c1;
}
.secao-ult h3 {
    font-size: 28px;
    line-height: 42px;
    padding-top: 30px;
    color: #fff;
}
.secao-ult p {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}
.secao-ult ul {
    margin: 40px auto;
    width: 220px;
    list-style-type: none;
}
.secao-ult li {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
.secao-ult a {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}
